<app-navbar-withlogout></app-navbar-withlogout>

<section class="services" id="certification">
    <h2 class="heading">User Profile <span>Management Dashboard</span></h2>

    <div class="services-container">

        <div class="services-box">
            <!-- <i class='bx bx-user'></i> -->
            <h3>Create</h3>
            <p>Add new entries easily with a simple and smooth process.
            </p>

            <a class="btn" routerLink="/userprofile">Go</a>
        </div>

        <div class="services-box">
            <!-- <i class='bx bx-plus-medical'></i> -->
            <h3>Update By ID</h3>
            <p>Change specific details quickly using a unique reference number.
            </p>

            <a href="#" class="btn" routerLink="/userprofile-update">Go</a>

        </div>

        <div class="services-box">
            <!-- <i class='bx bx-cart-download'></i> -->
            <h3>Get by ID</h3>
            <p>Find exact details instantly using a unique reference number.</p>
            <a href="#" class="btn" routerLink="/userprofile-getid">Go</a>

        </div>

        <div class="services-box">
            <!-- <i class='bx bx-universal-access'></i> -->
            <h3>Get ALL</h3>
            <p>View all available entries in a clear and organized way.

            </p>
            <a href="#" class="btn" routerLink="/userprofile-getall">Go</a>

        </div>


        <div class="services-box">
            <!-- <i class='bx bxs-bowl-hot'></i> -->
            <h3>Delete By ID</h3>
            <p>Remove specific details safely using a unique reference number.
            </p>
            <a href="#" class="btn" routerLink="/userprofile-deleteid">Go</a>

        </div>


        <div class="services-box">
            <!-- <i class='bx bx-notepad'></i> -->
            <h3>Delete All</h3>
            <p>Erase everything completely with a single, quick action.
            </p>
            <a href="#" class="btn" routerLink="/userprofile-deleteall">Go</a>

        </div>


    </div>
</section>

<router-outlet></router-outlet>