<app-navbar-withlogout></app-navbar-withlogout>


<section class="contact" id="contact">
    <h2 class="heading">Update on <span>Achievements of User</span></h2>

    <form action="#">
        <div class="input-box">
            <!-- <input type="number" id="number1" placeholder="User ID"> -->
            <input type="text" id="name1" placeholder="Title">
            <!-- <input type="text" id="email1" placeholder="Description"> -->
            <textarea name="" id="message1" cols="" rows="4" placeholder="Description"></textarea>
        </div>

        <div class="input-box">
            <input type="date" id="number1" placeholder="Date Achieved">
            <input type="number" id="subject1" placeholder="User ID">
        </div>

        <!-- <div class="input-box">
            <input type="number" id="number1" placeholder="User ID">
        </div> -->

        <!-- <div class="input-box">
            <input type="number" id="number1" placeholder="Weight">
            <input type="number" id="subject1" placeholder="Height">
            <input type="text" id="subject1" placeholder="Goal">
        </div> -->

        <!-- <textarea name="" id="message1" cols="" rows="4" placeholder="Your Notes"></textarea> -->
        <input type="submit" value="Submit" class="btn">

    </form>
</section>