<app-navbar-withlogout></app-navbar-withlogout>
<section class="contact" id="contact">
    <h2 class="heading"> Update Subscription <span>Plan</span></h2>

    <form action="#">
        <div class="input-box">
            <input type="number" id="number1" placeholder="User ID">
        </div>

        <div class="input-box">
            <input type="text" id="name1" placeholder="Subscription Type">
            <input type="date" id="email1" placeholder="Start Date">
        </div>

        <div class="input-box">
            <input type="date" id="number1" placeholder="End Date">
            <input type="number" id="subject1" placeholder="Price">
        </div>

        <!-- <div class="input-box">
            <input type="number" id="number1" placeholder="Weight">
            <input type="number" id="subject1" placeholder="Height">
            <input type="text" id="subject1" placeholder="Goal">
        </div> -->

        <textarea name="" id="message1" cols="" rows="4" placeholder="Description"></textarea>
        <input type="submit" value="Submit" class="btn">

    </form>
</section>