<app-navbar-withlogout></app-navbar-withlogout>
<section class="contact" id="contact">
    <h2 class="heading">Update Users <span>Diet Plan</span></h2>

    <form action="#">

        <div class="input-box">
            <input type="number" id="name1" placeholder="User ID">
            <!-- <input type="date" id="email1" placeholder="End Date"> -->
        </div>

        <div class="input-box">
            <input type="date" id="name1" placeholder="Start Date">
            <input type="date" id="email1" placeholder="End Date">
        </div>

        <div class="input-box">
            <input type="text" id="number1" placeholder="Meal Plan">
            <input type="number" id="subject1" placeholder="User ID">
        </div>

        <!-- <div class="input-box">
            <input type="number" id="number1" placeholder="Weight">
            <input type="number" id="subject1" placeholder="Height">
            <input type="text" id="subject1" placeholder="Goal">
        </div> -->

        <textarea name="" id="message1" cols="" rows="4" placeholder="Your Notes"></textarea>
        <input type="submit" value="Submit" class="btn">

    </form>
</section>