<app-navbar-withlogout></app-navbar-withlogout>
<section class="contact" id="contact">
    <h2 class="heading">Get the Users Diet Plan <span>By ID</span></h2>

    <form action="#">
        <!-- <div class="input-box">
            <input type="text" id="name1" placeholder="Full Name">
            <input type="email" id="email1" placeholder="Email Address">
        </div>

        <div class="input-box">
            <input type="number" id="number1" placeholder="Age">
            <input type="text" id="subject1" placeholder="Gender">
        </div> -->

        <div class="input-box">
            <input type="number" id="number1" placeholder="User ID">
            <!-- <input type="number" id="subject1" placeholder="Height">
            <input type="text" id="subject1" placeholder="Goal"> -->
        </div>

        <!-- <textarea name="" id="message1" cols="" rows="10" placeholder="Your Message"></textarea> -->
        <input type="submit" value="Submit" class="btn">

    </form>
</section>