<app-navbar-withlogout></app-navbar-withlogout>

<section class="services" id="certification">
    <h2 class="heading">Activities <span>Management Dashboard</span></h2>

    <div class="services-container">

        <div class="services-box">
            <!-- <i class='bx bx-user'></i> -->
            <h3>Create</h3>
            <p>Add new entries easily with a simple and smooth process.
            </p>

            <a href="#" class="btn" routerLink="/activitiesforuser">Go</a>

        </div>

        <!-- <div class="services-box">
            <i class='bx bx-plus-medical'></i>
            <h3>Update By ID</h3>
            <p>Here admins can able to change the details if anything is wrong
            </p>

            <a href="#" class="btn" routerLink="/activitiesforuser-updateid">Go</a>

        </div> -->

        <div class="services-box">
            <!-- <i class='bx bx-cart-download'></i> -->
            <h3>Get by Activity ID</h3>
            <p>Find exact details instantly using a unique activity number.
            </p>
            <a href="#" class="btn" routerLink="/activitiesforuser-getid">Go</a>

        </div>

        <div class="services-box">
            <!-- <i class='bx bx-cart-download'></i> -->
            <h3>Get by User ID</h3>
            <p>Find related details quickly using a specific reference number.
            </p>
            <a href="#" class="btn" routerLink="/activitiesforuser-userid">Go</a>

        </div>



        <!-- <div class="services-box">
            <i class='bx bx-universal-access'></i>
            <h3>Get ALL</h3>
            <p>Here admins can able to get all the details
            </p>
            <a href="#" class="btn" routerLink="/">Go</a>

        </div> -->


        <div class="services-box">
            <!-- <i class='bx bxs-bowl-hot'></i> -->
            <h3>Delete By ID</h3>
            <p>Remove specific details safely using a unique reference number.
            </p>
            <a href="#" class="btn" routerLink="/activitiesforuser-deleteid">Go</a>

        </div>

        <!-- <div class="services-box">
            <i class='bx bxs-bowl-hot'></i>
            <h3>Delete ALL</h3>
            <p>Here admins can able to Delete all the ####
            </p>
            <a href="#" class="btn" routerLink="/subscription-deleteid">Go</a>

        </div> -->


    </div>
</section>
<router-outlet></router-outlet>